node_modules/
dist/
.env
*.log
.DS_Store
Thumbs.db

# copyrighted rulebook (Ultima Thule)
ultima-thule/rules/*.pdf
ultima-thule/rules/pages/
ultima-thule/rules/brp_all.txt
# copyrighted GURPS books (Bell Curve): PDFs and extracted text stay local
ultima-thule/bellcurve/rules/
